* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    background-color: #1e2831;
  }
  
  main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  .main-header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }
  
  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  
  .linear-gradient-background {
    background-image: linear-gradient(rgba(232,102,236,0.3) 0%,rgba(232,102,236,0.6) 100%);
  }

  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
  .card img {
    width: 100%;
    min-width: 400px;
  }